@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.card{
    border: 1px solid rgba(235,227,213, 0.8) !important;
}

.profileImg{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
}

.card-title{
    font-size: 2rem;
    font-weight: 600;
}